<?xml version="1.0" encoding="utf-8" ?>
<project name="Addins Configuration for MonoDevelop 2.4">

	<property name="mono.framework" value="v3.5"/>
	<property name="mono.addins" value="0.6.0.0"/>
	<property name="mono.cecil" value="0.6.9.0"/>

	<property name="md.define" value="MD_2_4"/>
	<property name="md.addins.reference" value="2.4"/>
	<property name="md.gac.reference" value="2.4.0.0"/>
	
</project>
