<?xml version="1.0" encoding="utf-8"?>
<Addin id="MonoDevelop.Monobjc.Refactoring"
       name="Monobjc Refactoring"
       author="Laurent Etiemble"
       url="http://www.monobjc.net/"
       description="Monobjc Refactoring"
       copyright="GPL"
       category="IDE extensions"
       version="@ADDIN_VERSION@">

  <Header>
    <Icon32>Icons/monobjc-logo-32.png</Icon32>
  </Header>

  <Runtime>
    <!-- Assemblies -->
    <Import assembly="MonoDevelop.Monobjc.Refactoring.dll" />
  </Runtime>

  <!-- Dependencies -->
  <Dependencies>
    <Addin id="MonoDevelop.Core" version="@MD_ADDINS_REFERENCE@"/>
    <Addin id="MonoDevelop.Ide" version="@MD_ADDINS_REFERENCE@"/>
    <Addin id="MonoDevelop.Refactoring" version="@MD_ADDINS_REFERENCE@"/>
    <Addin id="MonoDevelop.Monobjc" version="@MD_ADDINS_REFERENCE@"/>
  </Dependencies>

@ADDIN_SPECIFIC@
  
</Addin>