<?xml version="1.0" encoding="utf-8"?>
<Addin id="MonoDevelop.Debugger.Soft.Monobjc"
       name="Mono Soft Debugger Support for Monobjc"
       author="Laurent Etiemble"
       url="http://www.monobjc.net/"
       description="Mono Soft Debugger for Monobjc"
       copyright="GPL"
       category="Debugging"
       version="@MD_VERSION@.@ADDIN_VERSION@">

  <Runtime>
    <!-- Assemblies -->
    <Import assembly="MonoDevelop.Debugger.Soft.Monobjc.dll" />
  </Runtime>

  <!-- Dependencies -->
  <Dependencies>
    <Addin id="MonoDevelop.Core" version="@MD_VERSION@"/>
    <Addin id="MonoDevelop.Ide" version="@MD_VERSION@" />
    <Addin id="MonoDevelop.Debugger" version="@MD_VERSION@"/>
    <Addin id="MonoDevelop.Debugger.Soft" version="@MD_VERSION@"/>
    <Addin id="MonoDevelop.Monobjc" version="@MD_VERSION@"/>
  </Dependencies>

  <Extension path="/MonoDevelop/Debugging/DebuggerEngines">
    <!-- Debugger Engine -->	
    <DebuggerEngine id="Mono.Debugger.Soft.Monobjc"
                    name="Mono Soft Debugger for Monobjc"
                    features="Breakpoints, Pause, Stepping, DebugFile, ConditionalBreakpoints, Tracepoints, Catchpoints"
                    type="MonoDevelop.Debugger.Soft.Monobjc.MonobjcSoftDebuggerEngine" />
  </Extension>

</Addin>