<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>9.0.21022</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{CEEC45C7-4965-4D00-A5C8-CC238CF7A615}</ProjectGuid>
    <OutputType>Library</OutputType>
    <RootNamespace>MonoDevelop.Debugger.Soft.Monobjc</RootNamespace>
    <AssemblyName>MonoDevelop.Debugger.Soft.Monobjc</AssemblyName>
    <TargetFrameworkVersion>@MONO_FRAMEWORK@</TargetFrameworkVersion>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug</OutputPath>
    <DefineConstants>DEBUG;@MD_DEFINE@</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>none</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Release</OutputPath>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <ConsolePause>false</ConsolePause>
    <DefineConstants>@MD_DEFINE@</DefineConstants>
  </PropertyGroup>
  <ItemGroup>
@MD_REFERENCES@
  </ItemGroup>
  <ItemGroup>
    <Compile Include="MonobjcDebuggerSession.cs" />
    <Compile Include="MonobjcDebuggerStartInfo.cs" />
    <Compile Include="MonobjcSoftDebuggerEngine.cs" />
    <Compile Include="Properties\AssemblyInfo.cs" />
  </ItemGroup>
  <Import Project="$(MSBuildBinPath)\Microsoft.CSharp.targets" />
  <ItemGroup>
    <Folder Include="Icons\" />
    <Folder Include="Properties\" />
  </ItemGroup>
  <ItemGroup>
    <None Include="addin.xml" />
    <None Include="addin.xml.2.6" />
    <None Include="addin.xml.2.8" />
    <None Include="addin.xml.3.0" />
    <None Include="addin.xml.tmpl" />
    <None Include="references-2.6.config" />
    <None Include="references-2.8.config" />
    <None Include="references-3.0.config" />
  </ItemGroup>
  <ItemGroup>
    <Content Include="Icons\monobjc-logo-32.png"><CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory></Content>
  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="..\MonoDevelop.Monobjc\MonoDevelop.Monobjc.csproj">
      <Project>{6216C823-55A2-47D4-96A0-B1461EE66B1B}</Project>
      <Name>MonoDevelop.Monobjc</Name>
    </ProjectReference>
    <ProjectReference Include="..\..\tools\Monobjc.Tools\Monobjc.Tools.csproj">
      <Project>{C44005EC-E057-4636-96E2-637CA83F5170}</Project>
      <Name>Monobjc.Tools</Name>
    </ProjectReference>
  </ItemGroup>
</Project>