<Reference Include="System" />
<Reference Include="System.Core" />
<Reference Include="Mono.Debugger.Soft, Version=0.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"><Package>monodevelop-core-addins</Package></Reference>
<Reference Include="Mono.Debugging, Version=0.0.0.0, Culture=neutral, PublicKeyToken=5e9ce85b0923c84f"><Package>monodevelop</Package></Reference>
<Reference Include="Mono.Debugging.Soft, Version=0.0.0.0, Culture=neutral, PublicKeyToken=5e9ce85b0923c84f"><Package>monodevelop-core-addins</Package></Reference>
<Reference Include="Mono.Posix" />
<Reference Include="MonoDevelop.Core, Version=2.6.0.0, Culture=neutral"><Package>monodevelop</Package></Reference>
<Reference Include="MonoDevelop.Debugger, Version=2.6.0.0, Culture=neutral"><Package>monodevelop-core-addins</Package></Reference>
<Reference Include="MonoDevelop.Debugger.Soft, Version=2.6.0.0, Culture=neutral"><Package>monodevelop-core-addins</Package></Reference>
<Reference Include="MonoDevelop.Ide, Version=2.6.0.0, Culture=neutral"><Package>monodevelop</Package></Reference>
